[
  {
    "id": "barmbek",
    "displayName": "Kleinanzeigen Barmbek",
    "source": "kleinanzeigen",
    "url": "https://www.kleinanzeigen.de/s-wohnung-mieten/wienertstadtteil/barmbek/anzeige:angebote",
    "district": "Barmbek",
    "enabled": true
  },
  {
    "id": "eimsbuettel",
    "displayName": "Kleinanzeigen Eimsbuettel",
    "source": "kleinanzeigen",
    "url": "https://www.kleinanzeigen.de/s-wohnung-mieten/hamburg/eimsbuettel/anzeige:angebote",
    "district": "Eimsbuettel",
    "enabled": true
  }
]